
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  
}

.welcome-page {
  
  height: 100%;
  position: relative;
  flex: 1;
}


.overlay {
  background-color: rgba(0, 0, 0, 0.5); 
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.content {
  text-align: center;
  color: #fff;
  padding: 20px;
}


.content h1 {
  font-size: 55px;
  margin-top: 20px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}
 

.content p {
  font-size: 1.2rem;
  margin-bottom: 50px;
  margin-top: 30px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}


.btn {
  background-color: #0D9488; /* teal color */
  color: #fff;
  padding: 15px 30px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}


.btn:hover {
  background-color: #0B7A73;
  transform: scale(1.05);
}


footer {
  text-align: center;
  padding: 12px;
  background: #E5E7EB;
  font-size: 14px;
}

